.gameScreen {
	margin-top:15px;
}

.audioControls {
	margin-top: 20px;
	flex-direction: row;
	align-items: flex-start;
}

.iconButton {
	margin-right: 10px;
}

#userAudioList {
	align-items: flex-start;
}

#userAudioList > * {
	margin-bottom: 6px;
}

#gameList {
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

#gameList GameCard {
	margin-right: 20px;
}

.detailsPanel {
	margin-top: 30px;
}