.modalContainer {
	margin-top: 30%;
	padding: 20px 50px;
	background-color: var(--accent);
	color: var(--white);
	border-radius: var(--radius);
}

#connectButton {
	margin-top: 50px;
	align-self: flex-end;
}

.modalHeader {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	width: 100%;
}